
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TASA+Orbiter:wght@400..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: 'Poppins', sans-serif;
}
.page{
  background:url(stopwatch_img/images/background.png) ;
  width: 90%;
  max-width: 900px;
  height: 700px;
 
  display: flex;  
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  
  position: relative;
}
.container{
  position: absolute;
  width: 550px;
  height: 350px;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255,255,255,0.18);
  z-index: 1;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 
  gap: 20px;
}
.container h1{
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin-top: 50px;
  letter-spacing: 2px;
}
img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
#startbtn{
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.buttons img{
  cursor: pointer;
}